<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div class="top" th:fragment="jie">
    <div class="left">
        2020CMS
    </div>
    <div class="right">
        <a href="">
            <i class="fa fa-home"></i>
            <span>中文</span>
        </a>
        <a href="">
            <i class="fa fa-home"></i>
            <span>English</span>
        </a>
        <a href="">
            <i class="fa fa-home"></i>
            <span>前台主页</span>
        </a>

        <a href="">
            <i class="fa fa-highlighter"></i>
            <span>清除缓存</span>
        </a>
        <a href="web_baseset.html" target="rightiframe">
            <i class="fa fa-cog"></i>
            <span>网站设置</span>
        </a>
        <a href="">
            <i class="fa fa-fw fa-power-off"></i>
            <span>退出后台</span>
        </a>
    </div>
</div>
 </body>
</html>